.banner {
display: flex;
align-items: center;
justify-content: space-between;
padding: 5px 40px;
background: linear-gradient(135deg, #FFADDB 5%, #FF5AA2 100%) ;
color: white;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.banner-logo {
height: 90px;
width: auto;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.banner-content {
text-align: right;
flex-grow: 1;

}

.banner-content h1 {
margin: 0 0 8px 0;
font-size: 2.8rem;
font-weight: bold;
}

.banner-content p {
margin: 0;
font-size: 1.5rem;
opacity: 0.7;
font-style: italic;
}