.banner {
display: flex;
align-items: center;
justify-content: space-between;
padding: 5px 40px;
background: linear-gradient(135deg, #FFADDB 5%, #FF5AA2 100%) ;
color: white;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
